%transition {
  transition: all .3s ease-in-out;
}


@keyframes fill-in {
  0% { fill-opacity: 0; }
  100% { fill-opacity: 1; }
}


@keyframes fill-out {
  0% { fill-opacity: 1; }
  100% { fill-opacity: 0; }
}

@keyframes fade-in {
  0%{opacity: 0;}
  100%{opacity: 1;}
}